main {
    padding: 20px 200px;
}

.description {
    font-size: 15px;
    font-weight: normal;
}

/* PORTRAIT */
#portrait {
    border: solid #fcc87f 3px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: #fcc87f -10px 10px 0 0;
}

#portrait figure {
    width: 100%;
    padding-bottom: 30px;
}

/* #portrait figcaption {
    font-weight: normal;
    padding: 20px;
    padding-bottom: 10px;
    color: #274879;
    font-size: 12px;
} */

#portrait img {
    width: 100%;
    margin: 0;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    main {
        padding: 20px 50px;
    }
    header a {
        width: 0;
        display: inline;
    }
    #portrait {
        padding: 10px;
        height: 100%;
        margin-bottom: 40px;
    }

    .description {
        margin: 0;
    }

    .row {
        margin: 0;
    }

    .container {
        padding: 0;
    }

    #portrait img {
        height: 100%;
    }
}

@media (max-width: 1400px) and (min-width: 768px) {
    main {
        padding: 20px 100px;
    }
    .row {
        margin: 0;
    }
    .container {
        padding: 0;
        margin: 0;
    }
}