p {
    font-size: 18px;
}

#hero {
    width: 100%;
    padding: 10px 0;
}

/* PAGE NAV BAR */
#page-nav {
    position: fixed;
    top: 20px;
    right: 0;
    width: 15%;
    min-width: 200px;
    max-width: 350px;
    margin: 0 10px;
    text-align: left;
    padding: 10px;
    padding-top: 0;
}

#page-nav h4:last-of-type {
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

#page-nav li {
    border: solid 3px var(--light-accent);
    background-color: var(--background-color);
    border-radius: 30px;
    padding: 5px 20px;
    margin: 20px auto; 
    box-shadow: var(--light-accent) -5px 5px 0 0;
    transition: background-color 0.3s ease;
}

#page-nav li:first-of-type {
    padding-top: 3px;
    margin-top: 5px;
}

#page-nav li:hover {
    background-color: var(--light-accent);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#page-nav li a {
    color: var(--emphasis-color);
    text-decoration: none;
    font-size: 15px;
}

#page-nav li a:hover {
    color: var(--emphasis-color) !important;
}

#page-nav ul {
    margin-bottom: 20px;
}

/* GALLERY */
#galleries {
    width: 70%;
}

.gallery {
    border-left: solid 3px var(--dark-accent);
    margin-left: 10px !important;
    margin-bottom: 80px;
    padding: 10px;
    align-items: flex-end;
}

.gallery img {
    margin: 10px;
    cursor: pointer;
    padding: 0 auto;
}

.carousel-caption {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 10px;
    padding: 2px !important;
}

.carousel-caption p {
    color: white;
    font-size: 12px;
    padding: 0;
    font-weight: normal;
}

#galleries a {
    text-decoration: none;
    color: var(--link-color);
}

/* MEDIA QUERIES */
@media (max-width: 1800px) {
}

@media (max-width: 1500px) {
    #page-nav {
        width: 20%;
    }
}

@media (max-width: 900px) {
    #page-nav {
        visibility: hidden;
        top: 0;
        padding: 20px;
        width: 70%;
        height: 100%;
        background-color: var(--background-color);
        border-left: solid 3px var(--dark-accent);
    }

    #page-nav li {
        margin: 10px;
    }

    #page-nav .x {
        right:0;
    }
    .main {
        left: 0;
    }
    
}
