@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans&family=PT+Serif&family=Philosopher&display=swap');

/* PROFILE CARD */
#profile-card {
    position: sticky;
    height: 80%;
    padding: 20px;
    background-color: var(--background-color);
}

.profile-card-div {
    text-align: left;
    margin: 50px 20px 0;
    padding: 20px;
    border: solid var(--light-accent) 2px;
    border-radius: 15px;
    box-shadow: var(--light-accent) -10px 10px 0 0;
    border-bottom-left-radius: 0;
}

.profile-card-div ul {
    padding: 0;
}

.profile-card-div li {
    padding: 5px;
}

.profile-card-div i {
    padding-right: 10px;
    color: var(--dark-accent);
}

.profile-card-div h3 {
    display: inline-block;
}

.li-txt {
    border-left: solid var(--dark-accent) 2px;
    margin: 5px;
}

.profile-card-div li:hover {
    background-color: var(--light-accent);
    border-radius: 10px;
    border-bottom-left-radius: 0;
    transition: background-color 0.15s ease-in-out 0s;
}

.li-txt p {
    padding-left: 15px;
    font-size: 13px;
    font-weight: normal;
}

.collapse-btn {
    display: inline-block;
    border: none;
    background-color: transparent;
    
}

/* PROFILE PICTURE */
#pfp-img {
    object-fit: cover;
    width: 180px;
    height: 180px;
    display: inline-block;
    margin: 0;
    position: relative;
    background-color: var(--light-accent);
}

#pfp-name {
    display: block;
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    font-size: 25px;
    border: solid var(--light-accent) 2px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: var(--light-accent) -10px 10px 0 0;
}

#pfp-title {
    text-align: left;
    font-size: 15px;
    float: inline-end;
    margin-top: 20px;
    line-height: 25px;
}

/* FEATURED */
#featured .card {
    padding: 0;
    border: none;
    margin: 0 10px;
    background-color: var(--background-color);
}

#featured img {
    margin: 10px;
    object-fit: cover;
    width: 90%;
}

#featured .card:first-of-type img {
    margin-top: 15px;
}

#featured p {
    text-align: left;
    font-size: 14px;
}

#featured .btn-primary {
    background-color: var(--background-color);
    font-family: "Fredoka One";
    font-weight: normal;
    letter-spacing: 2px;
    border-color: var(--light-accent);
    border-width: 2px;
    color: var(--light-accent);
    border-radius: 30px;
    padding: 6px 15px;
}

#featured .btn-primary:hover {
    background-color: var(--light-accent);
}

#featured a:hover {
    color: var(--background-color) !important;
}

/* GALLERY */
.album img {
    width: 100%;
    object-fit: contain;
}

#digital-gallery img {
    cursor: pointer;
}

.gallery {
    margin-bottom: 80px;
    padding: 10px;
}

.gallery img {
    margin: 10px;
    cursor: pointer;
    padding: 0 auto;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
    #pfp {
        display: block;
    }
    #pfp-name {
        display: block;
        margin: 20px auto;
    }
    #pfp-title {
        display: block;
        margin: 20px;
        margin-bottom: 0;
        text-align: center;
    }
    #featured .card-title, #featured .card-text, #featured .btn, #featured .card-body {
        display: none;
    }

    #featured .card {
        border: none;
    }

    #featured img {
        margin: 0;
    }
}