@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans&family=PT+Serif&family=Philosopher&display=swap');


/* CIRCLE */
.circle {
    background-color: var(--light-accent);
    bottom: 50%;
    border-radius: 0 0 500px 500px;
    width: 800px;
    height: 400px;
    margin: 0 10%;
    top: 0;
    margin-bottom: 100px;
    background-color: var(--light-accent);
    transition: background-color 0.5s ease-out;
}

.circle h2 {
    padding-top: 50px;
}
.circle p {
    margin: 20px 50px;
    padding: 0 30px;
}

.circle:hover {
    background-color: var(--background-color);
    border: solid 4px var(--light-accent);
    border-top: 0;
    transition: background-color 0.5s ease-out;
}

/* GAMES EXPERIENCE */
/* #games-exp {
    background-color: yellow;
} */

/* INVENTORY */
#inventory {
    background-color: var(--light-accent);
    border-radius: 15px;
    padding: 15px;
    min-height: 750px;
    height: 20%;
    right: 5%;
}

#inventory h2 {
    margin-bottom: 0;
}

#inventory ul {
    text-align: left;
    margin: 0 15px;
}

#inventory section {
    margin: 30px 0;
}

/* FEATURED */
#featured .card {
    padding: 0;
    border: none;
    margin: 0 10px;
    background-color: var(--background-color);
}

#featured img {
    margin: 10px;
    object-fit: cover;
    width: 90%;
}

#featured .card:first-of-type img {
    margin-top: 18px;
}

#featured p {
    text-align: left;
    font-size: 14px;
}

#featured .btn-primary {
    background-color: var(--background-color);
    font-family: "Fredoka One";
    font-weight: normal;
    letter-spacing: 2px;
    border-color: var(--light-accent);
    border-width: 2px;
    color: var(--light-accent);
    border-radius: 30px;
    padding: 6px 15px;
    transition: background-color 0.3 ease;
}

#featured .btn-primary:hover {
    background-color: var(--light-accent);
    transition: background-color 0.3s ease;
}

#featured a:hover {
    color: var(--background-color) !important;
    transition: color 0.3s ease;
}

/* GALLERY */
.album img {
    width: 100%;
    object-fit: contain;
}

#digital-gallery img {
    cursor: pointer;
}

.gallery {
    margin-bottom: 80px;
    padding: 10px;
}

.gallery img {
    margin: 10px;
    cursor: pointer;
    padding: 0 auto;
}

main {
    margin-top: 0 !important;
    padding-top: 0 !important;
}


/* MEDIA QUERIES */
@media (max-width: 1800px) {
    /* .main {
        position: relative;
        left: 10%;
    } */
}

@media (max-width: 1500px) {
    #featured .card-title, #featured .card-text, #featured .btn, #featured .card-body {
        display: none;
    }

    #featured .card {
        border: none;
    }

    #featured img {
        margin: 0;
    }

    .circle {
        border-radius: 0 0 500px 500px;
        width: 600px;
        height: 300px;
    }
    .circle p {
        font-size: 13px;
    }
    .circle h2 {
        padding-top: 30px;
    }
}

@media (max-width: 900px) {
    #inventory {
        visibility: hidden;
    }

    #featured {
        width: 100%;
    }

    .circle {
        margin: 0 auto;
    }
}