@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fredoka:wght@400;600&family=Itim&display=swap');

:root {
    --dark-accent: #274879;
    --light-accent: #fcc87f;
    --emphasis-color: #c7713c;
    --link-color: #64a199;
    --background-color: white;
}

/* FONTS AND TEXT STYLES */
.fredoka-one {
    font-family: "Fredoka One";
    letter-spacing: 2px;
    color: var(--dark-accent);
}

.itim {
    font-family: "Itim";
    letter-spacing: 0.5px;
    color: var(--dark-accent);
}

.fredoka {
    font-family: "Fredoka";
    letter-spacing: 2px;
}

.light-accent {
    color: var(--light-accent); 
}

.dark-accent {
    color: var(--dark-accent);
}

.emphasis {
    font-weight: bolder !important;
    color: var(--emphasis-color) !important;
}

.active {
    color: var(--emphasis-color);
}

a:hover {
    color: var(--link-color) !important;
    transition: color 0.15s ease-in-out 0s;
}

/* LINE ANIMATION */
.line-animation::after {
    content: '';
    display: block;
    background: var(--emphasis-color);
    border-bottom: solid 2px var(--emphasis-color);
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.line-animation:hover::after {
    transform: scaleX(1);
}


/*  */
html {
    background: var(--background-color);
}

main {
    background: var(--background-color);
}

.circle {
    background-color: var(--light-accent);
    bottom: 50%;
    border-radius: 0 0 500px 500px;
    width: 800px;
    height: 400px;
}


/* SIDE BAR */
#side-bar {
    top: 0;
    left: 0;
    background-color: var(--light-accent);
    position: fixed;
    height: 100%;
    max-width: 350px;
    z-index: 1;
    overflow-x: hidden;
}

#profile {
    margin-top: 50px;
}

#profile img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    position: relative;
    background-color: var(--background-color);
    border: solid var(--background-color) 8px;
}

#sidebar h6 {
    font-size: 16px;
}

/* NAVIGATION */
#nav {
    padding: 50px 0;
}

#nav a {
    text-decoration: none;
    color: var(--light-accent);
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: normal;
    transition: color 0.3s ease;
}

#nav a:hover {
    color: var(--emphasis-color) !important;
    transition: color 0.3s ease;
}

#nav a:active {
    color: var(--emphasis-color) !important;
    font-weight: normal;
}

#nav li {
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    background: var(--background-color);
}

.socials {
    color: var(--dark-accent);
    font-size: 30px;
    margin: 10px;
    bottom: 100vh;
}

/* MAIN */
.main {
    left: 400px;
    margin: 0 100px;
    width: 100%;
    padding: 5% 0;
}

@media (max-width: 900px) {
    #side-bar {
        visibility: hidden;
    }
}