@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans&family=PT+Serif&family=Philosopher&display=swap');

:root {
    --dark-accent: #274879;
    --light-accent: #fcc87f;
    --emphasis-color: #c7713c;
    --link-color: #64a199;
    --background-color: white;
}

/* FONTS AND TEXT STYLES */
.fredoka-one {
    font-family: "Fredoka One";
    letter-spacing: 2px;
    color: var(--dark-accent);
}

.josefin-sans {
    font-family: "Josefin Sans";
    font-weight: bold;
}

.pt-serif {
    font-family: "PT Serif";
    letter-spacing: 1px !important;
    font-weight: bolder;
}

.philosopher {
    font-family: "Philosopher";
    letter-spacing: 1px;
    font-weight: bolder;
}

.emphasis {
    font-weight: bolder !important;
    padding: 2px !important;
    color: var(--emphasis-color) !important;
}

#profile-card a {
    text-decoration: none !important;
    color: var(--link-color) !important;
    border-bottom: solid var(--link-color) 1px;
}

#nav-bar ul a {
    text-decoration: none;
    color: var(--dark-accent);
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: normal;
    margin: 5px;
}

#nav-bar ul li:last-of-type {
    margin-right: 50px;
}

a:hover {
    color: var(--link-color) !important;
    transition: color 0.15s ease-in-out 0s;
}

.socials-txt {
    color: var(--dark-accent);
}

header a {
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 5px;
    margin-left: 50px;
}

/*  */
html {
    background: var(--background-color);
}

main {
    padding: 30px;
    margin-top: 100px;
    background: var(--background-color);
}

footer {
    background-color: var(--light-accent);
    padding: 40px;
    width: 100%;
    bottom: 0;
}

.socials {
    color: var(--dark-accent);
    font-size: 30px;
    margin: 10px;
}

/* NAV BAR */
#nav-bar {
    background: var(--background-color);
    padding-bottom: 0;
    border: none;
    margin-bottom: 0;
}

header {
    margin-bottom: 0;
}

.line-animation::after {
    content: '';
    display: block;
    background: var(--link-color);
    border-bottom: solid 2px var(--link-color);
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.line-animation:hover::after {
    transform: scaleX(1);
}

#nav-bar li {
    padding-right: 0;
    margin: 10px;
}

