body {
    color: #e05860;
    font-family: Helvetica;
    letter-spacing: 1px;
    margin: 0;
    width: 100%;
  }
  
  .normal-text, textarea, ::placeholder {
    font-size: 17px;
    font-family: Consolas, "Courier New";
    letter-spacing: 0;
    color: #e05860;
    font-weight: normal;
  }
  
  ::placeholder {
    opacity: 75%;
  }

  header {
    margin: 2rem auto;
    text-align: center;
  }
  
  form {
    padding: 40px;
    width: 70vw;
    margin: 2rem auto;
    max-width: 600px;
    background: linear-gradient(#ffe4e1 60%, #ffc2c2);
    border-radius: 15px;
  }
  
  p, label {
    margin: 1.1em 0 0 0;
    font-size: 16px;
    display: block;
  }
  
  label, form p {
    font-weight: bold;
  }
  
  fieldset {
    width: 100%;
    min-width: 200px;
    max-width: 500px;
    margin: 0 auto;
    border: none;
  }
  
  input[type="text"], input[type="email"], input[type="number"], select {
    width: 100%;
    min-width: 300px;
    padding: 0 0.5em;
    border: none;
    border-radius: 5px;
    height: 2em;
    display: block;
    margin: 1.1em auto;
    color: #e05860;
  }
  
  .label {
    margin: 1.1em auto;
  }
  
   label[id="recommend"], label[id="improvement"] {
     margin: 0 auto;
   }
  
  input[type="radio"], input[type="checkbox"] {
     width: 20px;
     height: 20px;
     vertical-align: middle;
   }
  
  textarea {
    margin: 0.5em auto;
    width: 100%;
    display: block;
    border: none;
    border-radius: 5px;
    background-color: white;
    padding: 0.5em;
  }
  
  button {
    margin: 1em auto;
    display: block;
    border: none;
    background-color: white;
    border-radius: 8px;
    padding: 0.5em;
    width: 30%;
  }
  button:active {
    background-color: #e05860;
    color: white;
  }
  
  .inline {
    display: inline-block;
    width: unset;
    margin: 0.5em auto;
  }
  
  #title {
    margin-bottom: 0;
    padding: 0;
  }

  #home-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
  }